<fieldset class="boleto">
    <p data-type="boleto"  onclick="open_boleto(this)"><span>BOLETO BANCÁRIO</span></p>
    <div class="content boleto" style="width: 100%;margin: 0 auto;">
        <ul>
            <li class="codebar">
               <div> Você pode pagar o boleto pelo código de barras ou</div>
            </li>
            <li class="print">
                <div>Pode Imprimir e pagar o boleto</div>
            </li>
            <li class="calendar">
                <div>Prazo para o boleto confirmar o pagamento é 3 dias úteis</div>
            </li>
        </ul>
        <button class="btn finalizar" type="submit">FINALIZAR A COMPRA</button>

    </div>
</fieldset>
