<fieldset class="cred_card">
    <p class="title" data-type="cred_card" onclick="open_cred_card(this)">
        <span>CARTÃO DE CRÉDITO</span>
    </p>
        <span class="brands"></span>
        <div class="center-container">
            <div class="content cred_card" style="max-width: 382px;margin-bottom: 50px;">
                <div class="form-container">
                    <div class="field-container">
                        <label for="cardnumber">Numero do Cartão</label><span style="display: none" id="generatecard"></span>
                        <input id="cardnumber" type="text" name="cardnumber" pattern="[0-9]*" inputmode="numeric" placeholder="Digite somente números">
                    </div>
                    <div class="field-container">
                        <label for="name">Nome igual consta em seu cartão</label>
                        <input id="name" name="cartName" maxlength="20" type="text" placeholder="Ex. Maria José Castro">
                    </div>
                    <div class="field-container">
                        <label for="expirationdate">Validade (Mês/Ano)</label>
                        <input id="expirationdate" name="expirationdate" type="text" pattern="[0-9]*" inputmode="numeric" placeholder="MM/AA">
                    </div>
                    <div class="field-container">
                        <label for="securitycode">Código de segurança</label>
                        <input id="securitycode" name="securitycode" type="text" pattern="[0-9]*" inputmode="numeric" placeholder="CVC">
                    </div>
                    <div class="field-container">
                        <label for="cpf">CPF do títular</label>
                        <input id="cpf" name="cpf" type="text" pattern="[0-9]*" inputmode="numeric" placeholder="000.000.000-00">
                    </div>
                    <div class="field-container">
                        <label for="securitycode">Número de Parcelas</label>
                        <select name="installments"  style="width: 100%;" onclick="get_installments(this);">
                            <option selected value="1">1x</option>
                        </select>
                    </div>
                    <button class="btn finalizar" type="submit">FINALIZAR A COMPRA</button>
                </div>
            </div>
        </div>

</fieldset>
