
<div id="woocommercerConverteme">
    <fieldset class="cred_card">
        <p class="title" data-type="cred_card" onclick="open_cred_card(this)">
            <span>CARTÃO DE CRÉDITO</span>
        </p>
        <span class="brands"></span>
        <div class="content cred_card" style="max-width: 382px;margin-bottom: 10px;">
            <div class="form-container">
                <div class="field-container">
                    <label for="cardnumber">Numero do Cartão</label><span style="display: none" id="generatecard"></span>
                    <input id="cardnumber" type="text" name="cardnumber" pattern="[0-9]*" inputmode="numeric" placeholder="Digite somente números">
                </div>
                <div class="field-container">
                    <label for="name">Nome igual consta em seu cartão</label>
                    <input id="name" name="cartName" maxlength="20" type="text" placeholder="Ex. Maria José Castro">
                </div>
                <div class="field-container">
                    <label for="expirationdate">Validade (Mês/Ano)</label>
                    <input id="expirationdate" name="expirationdate" type="text" pattern="[0-9]*" inputmode="numeric" placeholder="MM/AA">
                </div>
                <div class="field-container">
                    <label for="securitycode">Código de segurança</label>
                    <input id="securitycode" name="securitycode" type="text" pattern="[0-9]*" inputmode="numeric" placeholder="CVC">
                </div>
                <div class="field-container">
                    <label for="cpf">CPF do títular</label>
                    <input id="cpf" name="cpf" type="text" pattern="[0-9]*" inputmode="numeric" placeholder="000.000.000-00">
                </div>
                <div class="field-container">
                    <label for="securitycode">Número de Parcelas</label>
                    <select name="installments"  style="width: 100%;">
                        <option selected value="1">1x</option>
                        <option value="2">2x</option>
                        <option value="3">3x</option>
                        <option value="4">4x</option>
                        <option value="5">5x</option>
                        <option value="6">6x</option>
                        <option value="7">7x</option>
                        <option value="8">8x</option>
                        <option value="9">9x</option>
                        <option value="10">10x</option>
                        <option value="11">11x</option>
                        <option value="12">12x</option>
                    </select>
                </div>
                <button class="btn finalizar" type="submit">FINALIZAR A COMPRA</button>
            </div>
        </div>
    </fieldset>
    <fieldset class="pix">
        <p data-type="pix"  onclick="open_pix(this)"><span>PIX</span></p>
        <div class="content pix" style="width: 100%; margin: 0px auto;padding: 0px 0;">
            <ul>
                <li class="load">
                    <div>
                        Faça o pagamento com em poucos segundos sem
                        custo adicional.
                    </div>
                </li>
                <li class="qrcode">
                    <div>
                    Para pagar basta abrir o aplicativo do seu
                    banco, procurar pelo PIX e escanear o QR cod.
                    </div>
                </li>
                <li class="seguranca">
                    <div>
                    O pagamento com PIX foi desenvolvido pelo
                    Banco Central para facilitar suas compras
                    </div>
                </li>
            </ul>
            <button class="btn finalizar" type="submit">FINALIZAR A COMPRA</button>
        </div>
    </fieldset>
    <fieldset class="boleto">
        <p data-type="boleto"  onclick="open_boleto(this)"><span>BOLETO BANCÁRIO</span></p>
        <div class="content boleto" style="width: 100%;margin: 0 auto;">
            <ul>
                <li class="codebar">
                   <div> Você pode pagar o boleto pelo código de barras ou</div>
                </li>
                <li class="print">
                    <div>Pode Imprimir e pagar o boleto</div>
                </li>
                <li class="calendar">
                    <div>Prazo para o boleto confirmar o pagamento é 3 dias úteis</div>
                </li>
            </ul>
            <button class="btn finalizar" type="submit">FINALIZAR A COMPRA</button>

        </div>
    </fieldset>
</div>

<input type="hidden" name="payment_type" value="credit_card_pixapay">