<fieldset class="pix">
    <p data-type="pix"  onclick="open_pix(this)"><span>PIX</span></p>
    <div class="content pix" style="width: 100%; margin: 0px auto;padding: 0px 0;">
        <ul>
            <li class="load">
                <div>
                    Faça o pagamento com em poucos segundos sem
                    custo adicional.
                </div>
            </li>
            <li class="qrcode">
                <div>
                Para pagar basta abrir o aplicativo do seu
                banco, procurar pelo PIX e escanear o QR cod.
                </div>
            </li>
            <li class="seguranca">
                <div>
                O pagamento com PIX foi desenvolvido pelo
                Banco Central para facilitar suas compras
                </div>
            </li>
        </ul>
        <button class="btn finalizar" type="submit">FINALIZAR A COMPRA</button>
    </div>
</fieldset>

