@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap');
body{
  background: #f8f8f8;
  font-family: 'Inter', sans-serif;
}

.bg-black{
  background: #000000;
}

/* fonts*/

.color-white{
  color:#ffffff;
}

/*logo*/
.logo{
  padding: 22px;
}
.logo img{
  width: 100%;
}

/*block-ssl*/
.block-ssl{
  position: relative;
}
.block-ssl img {
  position: absolute;
  top: 26px;
  right: 84px;
  width: 17px;
  height: 20px;
}
.ssl-text{
  position: absolute;
  right: 10px;
  top: 26px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 9px;
  line-height: 11px;
  color: #00C767;
}

ul#shipping_method{
  margin: 0px;
  padding: 0px;
}

ul#shipping_method li{
  list-style: none;
  box-sizing: border-box;
  border: 1px solid #C8C6C6;
  border-radius: 4px;
  margin: 5px;
  position: relative;
}

ul#shipping_method li.active {
  border: 2px solid #00C767;
}

ul#shipping_method li.active::before {
  content: url("../img/check.png");
  position: absolute;
  left: 12px;
  top: 18px;
}


ul#shipping_method li label{
  padding: 18px 110px 17px 16px;
  margin-left: 27px;
}


ul#shipping_method li input{
  display: none!important;
}
/*footer*/
.block-text-footer{
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #7E7E7E;
}
.block-text-footer span{
  font-weight: 700;
  color: #00C767;
}
.copy{
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  color: #C8C6C6;
}

#checkout-final .seomidia_table.active{
  border: 1px solid #7E7E7E!important;
}

#checkout-final tr.cart-discount th{
  font-family: 'Inter';
  font-style: normal;
  font-size: 16px;
  color: #00C767;
}
#checkout-final td span.woocommerce-Price-amount.amount{
  font-size: 13px;
}
#checkout-final td a{
  font-size: 13px!important;
}

#checkout-final .woocommerce-message {
  color: #004085;
  background-color: #cce5ff;
  border-color: #b8daff;
  padding: 10px;
  margin-bottom: 1rem;
}

#checkout-final .woocommerce-error{
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  padding: 10px;
}

#checkout-final tr.cart-discount td{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

#checkout-final tr.cart-discount td a{
  font-family: 'Inter';
  font-size: 16px;
  line-height: 19px;
}

.auth .busca-email  input{
  float: none !important;
  width: 216px !important;
}
.auth .busca-email h3{
  margin-bottom: 39px !important;;
}

.auth .busca-email p{
  margin-top: 33px!important;
}
.emailInfo .icon-lock{display: none;}
.emailInfo {
  margin-left: 12%;
  width: 88%;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #ddd;
  min-height: 218px;
  text-align: left;
  background-color: #fcfcfc;
  padding-left: 15px;
  padding-right: 10px;
  padding-bottom: 15px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.emailInfo > h3 {
  color: #444;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 400;
  margin: 40px 0 25px;
  z-index: 2;
  position: relative;
}

.emailInfo .unstyled {
  font-size: 13px;
  font-size: .8125rem;
  color: #444;
  line-height: 23px;
  list-style: none;
}


.emailInfo ul {
  color: #888;
  z-index: 2;
  position: relative;
  display: inline-block;
  margin: 5px 5px 0 0;
}

.emailInfo ul li{
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
}

.emailInfo .icon-ok{
  color: #468847;
  z-index: 2;
  position: relative;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  background-image: url("../img/glyphicons-halflings.png");
  line-height: normal;
  vertical-align: baseline;
  background-image: none;
  background-position: 0% 0%;
  background-repeat: repeat;
  margin-top: 0;
}

.emailInfo .icon-lock::before {
  content: '';
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url('../img/icons-se17d70c1f2.png');
  background-position: 0 -4458px;
  height: 144px;
  width: 118px;
}

.emailInfo .unstyled .icon-ok::before {
  content: '';
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url('../img/icons-se17d70c1f2.png');
  background-position: 0 -470px;
  height: 10px;
  width: 14px;
  margin-right: 5px;
}

.emailInfo .icon-lock {
  right: 0;
  top: 0;
  bottom: auto;
  width: 235px;
  height: 220px;
  text-align: center;
  border-left: 0px;
  line-height: 245px;
  position: absolute;
  font-size: 180px;
  color: #EAF0EA;
  z-index: 1;
}

.auth button{
  color: #fff!important;
}
.auth-senha{
  display: none;
}

.finaliza .featured-box{
  float: right;
  width: 200px;
}
.finaliza .featured-box .icon-box-img{
  width: 40px;
}
.finaliza h2.cart-title .featured-box.icon-box-left .icon-box-text {
  padding-left: 10px;
  font-size: 19px;
  font-weight: bolder;
  height: 38px;
  margin-top: 7px;
}

.finaliza .featured-box {
  float: left;
  width: 200px;
  margin-bottom: 10px;
}

html body div.container.auth form div.auth-senha p.alert.alert-warning{
  /*background-color: #fff3cd!important;*/
  display: none;
}


.shippingg-box table.shipping__table--multiple tr th,.shippingg-box h3{
  font-size: 1.1em!important;
  overflow: hidden!important;
  padding-top: 0px!important;
  font-weight: bolder!important;
  text-transform: uppercase!important;
}
.header-checkout {
  display: block !important;
  width: 100%;
  color: #fff;
}
header a{
  margin-top: 10px;
}
header figure img {
  width: 220px;
}
.footer-checkout__address {}

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}
address p{
  color: #fff;
  font-size: .8em;
  text-align: center;
  padding: 9px;
}

.shippingg a.payment::before{
  content: '';
  background-image: url('data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjE4IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIxOCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0xMiAxTDMgNXY2YzAgNS41NSAzLjg0IDEwLjc0IDkgMTIgNS4xNi0xLjI2IDktNi40NSA5LTEyVjVsLTktNHptMCAxMC45OWg3Yy0uNTMgNC4xMi0zLjI4IDcuNzktNyA4Ljk0VjEySDVWNi4zbDctMy4xMXY4Ljh6Ii8+CiAgICA8cGF0aCBkPSJNMCAwaDI0djI0SDB6IiBmaWxsPSJub25lIi8+Cjwvc3ZnPg==');
  width: 18px;
  height: 18px;
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
}

td.product-thumbnail{
  width: 68px;
  height: 71px;
}
#tab2 .content{display: none;}
#tab3 .content{display: none;}

  /* Ajuste carrinho */
  .shop_table_responsive{
    margin-top: 20px!important;
  }
  .shop_table thead th, .shop_table .order-total td, .shop_table .order-total th {
    border-width: 0px!important;

  }

.shippingg-box{
    margin-top: 0px;
  }
  tr .coupon label, legend {
    display: none !important;;
  }

  tr .coupon button{
    width: 100%;
  }
  .carrinho .shipping__inner,.cart_totals .product-name{display: none!important;}
   
  .continue-shopping {
    width: 100%!important;
  }
  .continue-shopping a{
    width: 100%!important;
  }
  .wc-proceed-to-checkout{
    text-align: center;
  }

  h2.cart-title {
    color: #4bb8ef;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 700;
    margin: 30px 0 15px;
    font-family: "Arimo", sans-serif;
    position: relative;
    z-index: 999;
  }

  .seomidia_table {
    border-radius: 4px;
    padding: 17px;
    background: #ffffff;
  }

  .seomidia_table h2{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
  }

  .seomidia_table.form.billing h2::before{
    content:url("../img/billing.png");
    margin-right: 5px;
  }

  .seomidia_table.form.billing label{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
  }

.seomidia_table.form input.error {
  box-sizing: border-box;
  background: #f8d7da;
  border: 1px solid #f5c6cb;
  border-radius: 4px;
  color: #721c24;
}
#checkout-final ul.woocommerce-error{
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  padding: 10px;
}

#checkout-final ul.woocommerce-error li{
  list-style: none;
}


#checkout-final .seomidia_table.form span.error{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 9px;
    line-height: 11px;
    color: #FF3232;
    display: none;
  }


#checkout-final .seomidia_table.form .next{
  box-sizing: border-box;
  background: #00C767;
  border-radius: 4px;
  /*padding: 10px 81px;*/
  /*position: absolute;*/
  color:#ffffff;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  width: 100%;
}

.input-group > .form-control, .input-group > form-select {
  width: 70%!important;
}

#checkout-final .input-group-text {
  border-radius: .25rem 0 0 .25rem!important;
  color: #7E7E7E;
}

.seomidia_table.form.shipping h2::before{
  content:url("../img/frete.png");
  margin-right: 10px;
}

#checkout-final  #resumo-pedidos h2::before{
  content:url("../img/cart.png");
  margin-right: 10px;
}

.payment .seomidia_table.form h2::before{
  content:url("../img/payment.png");
  margin-right: 10px;
}
.seomidia_table.form.shipping small::before{
  content: ' ';
  margin-right: 10px;
}

.seomidia_table.form.shipping .cidade-uf{
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
  padding: 26px 0;
}

.seomidia_table.form.shipping .cidade-uf .dados{
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #7E7E7E;
}

#payment ul.wc_payment_methods.payment_methods{
  padding-left: 0!important;
}

#payment ul.wc_payment_methods.payment_methods li{
  list-style: none;
}

#payment .place-order{
  display: none;
}

/*Resumo pedidos*/

#resumo-pedidos tr.cart_item td.product-thumbnail img{
  width: 68px;
  height: 71px;
}

.content-none{
  display: none;
  position: relative;
}
.resumo-box{
  font-family: 'Inter', sans-serif;
  font-style: normal;
  color: #000000;
  margin-left: 22px;
}

.resumo-box::after{
  content: url("../img/edit.png");
  float: right;
  margin-top: -58px;
  margin-right: 10px;
  cursor: pointer;
}

.resumo-box h3{
  margin: 0px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
}
.resumo-box p{
   margin: 0px;
   font-size: 12px;
}

#shipping .resumo-box.active{
  border: 2px solid #00C767;
  border-radius: 4px;
  padding: 15px;
  margin: 9px auto;
}
#shipping .resumo-box.active::before{
  content: url("../img/check.png");
  float: left;
  height: 50px;
  margin-right: 14px;
  margin-top: 17px;
}
#shipping .resumo-box::after{
  margin-top: -40px;
  margin-right: 10px;
}

#shipping .optionfrete h4{
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
  padding: 11px 0px;
}
.wc_payment_method label{
  display: none;
}

tr.cart-subtotal td,tr.cart-subtotal th{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}
tr.order-total td,tr.order-total th {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #00C767;
}

#cart .seomidia_table{
    margin-bottom: 20px;
  }

#shipping .optionfrete a{
  display: none;
}

#resumo-pedidos td.product-name{
  padding-left: 10px;
}

#resumo-pedidos .product-name .title{
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
  margin: 2px 0;
}

#checkout-final .product-total{
  text-align: center;
}

#checkout-final .product-total a{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 8px;
  line-height: 10px;
  color: #7E7E7E;
}

#checkout-final tr.cupom td{
  padding: 20px 0px;
  position: relative;
}

#checkout-final tr.cupom td.legend{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  color: #000000;
  text-align: center;
}

#checkout-final tr.cupom td.btn button{
  border: 0px;
  background: #ffffff;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #00C767;
  padding: 0;
  position: absolute;
  top: 27px;
  right: -51px;
}

#checkout-final tr.cupom td input{
  box-sizing: border-box;
  background: #FFFFFF;
  border: 1px solid #DCDCDC;
  border-radius: 4px;
  font-size: 10px;
  padding: 10px;
}

#resumo-pedidos .product-name .price {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}

  .woocommerce-billing-fields {
    padding-top: 0px!important;
    border-top: 0px!important;
  }

  .shippingg .shipping__table th{
    font-size: 1.5em;
    margin-top: 10px;
    margin-bottom: 5px;;
    color: #093d71;
    font-weight: normal;
  }

  .resumo .seomidia_table h3{
    font-size: 1.5em;
    margin-top: 10px;
    margin-bottom: 5px;;
    color: #093d71;
    font-weight: normal;
  }

  .payment.seomidia_table h3{
    font-size: 1.1em!important;
    margin-top: 10px;
    margin-bottom: 5px;;
    color: #093d71;
    font-weight: normal!important;
  }

  .resumo .btn-link{
    width: 100%;
    text-align: center;
  }

  ul#pagseguro-payment-methods li {
    border-color: transparent transparent #bbb;
    border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    border-style: solid;
    border-width: 1px;
    display: block;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  ul#pagseguro-payment-methods label {
    cursor: pointer;
    display: block;
    font-weight: 700;
    margin: 0;
    padding: 5px 10px;
    font-size: 10px;
  }

  ul#pagseguro-payment-methods li.active {
    border-color: #bbb #bbb transparent;
    border-style: solid;
  }

  #payment #pagseguro-bank-transfer-form ul li i {
    background-color: transparent;
    background-image: url(../img/transparent-checkout-icons.png);
    background-repeat: no-repeat;
    display: block;
    height: 51px;
    margin: 0 auto;
    width: 51px;
  }

  #payment #pagseguro-bank-transfer-form li {
    border: none;
    display: block;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 130px;
    text-align: center;
  }

  .auth{
    display: none;
  }
@media (min-width: 768px)
{
  .logo img{
    width: 40%;
  }
  .ssl-text{
    font-size: 13px;
    line-height: 15px;
    top: 21px;
  }

  .block-ssl img {
    position: absolute;
    top: 13px;
    right: 122px;
    width: 35px;
    height: 41px;
  }

  #checkout-final .seomidia_table.form .next{
    padding: 15px 110px;
  }
  .emailInfo .icon-lock {
    border-left: 1px solid #ddd;
    display: block;
  }

  .emailInfo {
    width: 75%;
  }


  .shippingg-box{
    margin-top: 0px;
    margin-bottom: 0px;
  }



  .cart-title {
    color: #4bb8ef;
    font-size: 23px;
    font-size: 1.4375rem;
    text-transform: uppercase;
    font-weight: 700;
    margin: 30px 0 15px;
    font-family: "Ubuntu",sans-serif;
    position: relative;
    z-index: 999;
  }

  .carrinho .btn-link{
    text-decoration: none!important;
    margin-top: 10px;
  }
  
  #billing_email_field.form-row-first{
    width: 100%!important;
  }

  p.text-checkout-aviso{
    font-size: 14px;
  }



  #cart .secondary.is-underline:hover, #cart .secondary.is-outline:hover,#cart .button.secondary:not(.is-outline),#cart .button.alt:not(.is-outline),#cart .badge-inner.on-sale,#cart .button.checkout,#cart .single_add_to_cart_button,#cart .current .breadcrumb-step {
    width: 62%!important;
    float: right!important;
    font-size: 14px;
  }
  #cart .cart_totals .button {
    min-width: 50%!important;
  }

  #cart .shop_table thead th,#cart .shop_table .order-total td,#cart .shop_table .order-total th {
    border-bottom: 1px solid #ddd !important;
  }

  #cart th{
    padding: 12px 0 !important;
    color: #444!important;
  }

  #cart .product-price,#cart .product-quantity,#cart .product-subtotal{
    text-align: center!important;
  }



  .shipping__table--multiple th,.shipping__table--multiple td {
    border-bottom: 0px;
    padding: 0px;;
  }


  .place-order .button{
    margin-top: 0px!important;
  }


     button[name="apply_coupon"],.continue-shopping,a.button-continue-shopping{
        width: auto;
    }
    tr .continue-shopping{
        margin-top: 69px;
    }
    tr .coupon{
        width: auto!important;
        float: left;
    }
    .cart-collaterals{
        float: right;
        position: relative;
        top: -118px;
        width: 350px;
    } 

    .continue-shopping{
      display: none;
    }

    .resumo td.product-thumbnail img{
      width: 50px;
    }

    .resumo td.product-thumbnail {
      max-width: 57px!important;
    }
    .resumo tr.cupom td button{
      font-size: 10px!important;
      margin-top: 7px!important;
      padding: 2px!important;
    }
    .resumo tr.cupom td input{
      width: 221px!important;
      float: left!important;
    }

    .auth .busca-email  input{
      width: inherit!important;
    }
}
